[project]
	description = Fantasy cricket bot
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nemoo2
[access "refs/for/refs/*"]
	read = group user/nemoo2
	push = group user/nemoo2
	label-Code-Review = -2..+2 group user/nemoo2
	label-Verified = -1..+1 group user/nemoo2
	rebase = group user/nemoo2
	removeReviewer = group user/nemoo2
	submit = group user/nemoo2
[access "refs/heads/*"]
	read = group user/nemoo2
	create = group user/nemoo2
	push = +force group user/nemoo2
	pushMerge = group user/nemoo2
[access "refs/tags/*"]
	push = +force group user/nemoo2
	pushTag = group user/nemoo2
	pushSignedTag = group user/nemoo2
